@font-face {
    font-family: "Optima LT Pro";
    src: url("../fonts/optima_lt_pro_n4.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Optima LT Pro";
    src: url("../fonts/optima_lt_pro_n7.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Optima LT Pro";
    src: url("../fonts/optima_lt_pro_i4.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Optima LT Pro";
    src: url("../fonts/optima_lt_pro_i7.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'AEDCurrencySymbol';
    src: url('../fonts/aed-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}